.title_icon{
  font-size: 25px;
}
.empty_box{
  opacity: .8;
  text-align: center;
  width: 100%;
  padding: 25px;
}
.modal_height{
  height: 100%;
}

.modal-right {
  min-width: 430px;
  width: 430px;
}
@media (max-width: 576px){
  .modal-right {
    min-width: calc(100vw - 40px);
    width: calc(100vw - 40px);
  }
}

.modal-right form{
  max-width: 400px;
}

.alignToTitle {
  /* margin-top: 25px; */
  float: right;
}

/* Custom file upload */
@import "compass/css3";

.custom-file-upload-hidden {
  display: none;
  visibility: hidden;
  position: absolute;
  left: -9999px;
}
.custom-file-upload {
  display: block;
  width: auto;
  font-size: 16px;
  label {
    display: block;
    margin-bottom: 5px;
  }
}

.file-upload-wrapper {
  position: relative;
  margin-bottom: 5px;
  //border: 1px solid #ccc;
}
.file-upload-input {
  width: 275px;
  color: #424242;
  font-size: 13px;
  padding: 11px 17px;
  border: none;
  background-color: #EEEEEE;
  @include transition(all 0.2s ease-in);
  float: left; /* IE 9 Fix */
  &:hover, &:focus {
    background-color: #BDBDBD;
    outline: none;
  }
}
.file-upload-button {
  cursor: pointer;
  display: inline-block;
  color: #424242;
  font-size: 12px;
  text-transform: uppercase;
  padding: 11px 20px;
  padding-bottom: 12px;
  border: none;
  margin-left: -1px;
  background-color: #E0E0E0;
  float: left; /* IE 9 Fix */
  @include transition(all 0.2s ease-in);
  &:hover {
    background-color: #BDBDBD;
  }
}

/* JS-Image Previewer CSS STARTS */
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url('https://fonts.googleapis.com/css?family=Raleway');

// variables
$base-color: cadetblue;
$base-font: 'Raleway', sans-serif;

.wrapper-image-preview{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.box {
  display: block;
  /* min-width: 300px; */
  height: 245px;
  margin: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  overflow: hidden;
}

.upload-options {
  cursor: pointer;
  position: relative;
  height: 50px;
  background-color: $base-color;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  transition: background-color ease-in-out 150ms;
  &:hover {
    background-color: lighten($base-color, 10%);
  }
  & input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  & label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    &::after {
      content: 'add';
      font-family: 'Material Icons';
      position: absolute;
      font-size: 2.5rem;
      color: rgba(230, 230, 230, 1);
      top: calc(50% - 2.5rem);
      left: calc(50% - 1.25rem);
      z-index: 0;
    }
    & span {
      display: inline-block;
      width: 50%;
      height: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      vertical-align: middle;
      text-align: center;
      &:hover i.material-icons {
        color: lightgray;
      }
    }
  }
}
.js--image-preview {
  height: 200px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-image: url('https://www.l-nutra.com/wp-content/uploads/2018/07/placeholder.png');
  background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  &::after {
    content: "photo_size_select_actual";
    font-family: 'Material Icons';
    position: relative;
    font-size: 4.5em;
    color: rgba(230, 230, 230, 1);
    top: calc(50% - 3rem);
    left: calc(50% - 2.25rem);
    z-index: 0;
  }
  &.js--no-default::after {
    display: none;
  }
  &:nth-child(2) {
    background-image: url('http://bastianandre.at/giphy.gif');
  }
}

i.material-icons {
  transition: color 100ms ease-in-out;
  font-size: 2.25em;
  line-height: 55px;
  color: white;
  display: block;
}

.drop {
  display: block;
  position: absolute;
  background: transparentize($base-color, .8);
  border-radius: 100%;
  transform:scale(0);
}

.animate {
  animation: ripple 0.4s linear;
}

.upload-options .btn {
  cursor: pointer;
}

@keyframes ripple {
  100% {opacity: 0; transform: scale(2.5);}
}
/* JS-Image Previewer CSS ENDS */

.dropdown-btn:hover {
  color: white !important;
}
.readonly {
  pointer-events:none;
  background: none;
}
.visit_website {
  padding: calc(32px / 2) 0;
  overflow: hidden;
}

/* FULL SCREEN LOADING CSS ON AJAX CALL */
/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));

  background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 150ms infinite linear;
  -moz-animation: spinner 150ms infinite linear;
  -ms-animation: spinner 150ms infinite linear;
  -o-animation: spinner 150ms infinite linear;
  animation: spinner 150ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.hidden {
  display: none;
}
.show {
  display: block;
}
/* @media print{
  @page {size: landscape}
} */

@media print {
  @page {
    size: 310mm 215mm; /* landscape */
    /* you can also specify margins here: */
    margin: 5mm;
  }
}

.notice-calendar-section .fc-body {
  cursor: copy;
}

.hide {
  display: none !important;
}

.section-check-wrapper {
  display: inline-block;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  cursor: pointer;
}

input#sections {
  position: absolute;
  /* padding-top: 200px; */
  /* padding-left: 200px; */
  margin: 0;
  /* top: 0; */
  /* left: 0; */
  width: 16px;
  height: 16px;
  z-index: 1;
  opacity: 0;
}


.section-check {
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  background: white;
  position: absolute;
  z-index: 0;
}

.section-check:before {
  content: '';
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: top;
  border: 2px solid #a6a8ab;
  position: absolute;
  border-radius: 2px;
}

input#sections:checked + .section-check:after {
  content: "";
  font-family: FontAwesome;
  display: inline-block;
  line-height: 16px;
  width: 16px;
  height: 16px;
  text-align: center;
  font-size: 9px;
  vertical-align: top;
  color: #a6a8ab;
  background: #a6a8ab;
  box-sizing: border-box;
  border: 5px solid white;
}

.section-select {
  /* width: 16px; */
  /* height: 16px; */
  display: inline-block;
  margin-right: 10px;
  /* vertical-align: middle; */
}

div#sectionDiv {
  padding-top: calc(.45rem + 1px);
  padding-bottom: calc(.45rem + 1px);
}

.section-notice {
  display: block;
  padding: 15px;
  margin-bottom: 20px;
  background: #f16262;
  color: white;
  border-radius: 5px;
  /* margin-left: 20px; */
  box-shadow: 1px 1px 11px rgba(2, 2, 2, .3);
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.top-level label{
  display: block;
}

.cal-slot {
  background: #848383;
  padding: 11px;
  border-radius: 2px;
  border-radius: 3px;
  color: white;
  font-size: 13px;
  position: relative;
}

.cal-slot .close-icon {
  position: absolute;
  top: -10px;
  right: -10px;
  color: white;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  background: #5a5959;
  text-align: center;
  line-height: 20px;
  border-radius: 20px;
  transform: scale(1);
  transition: all .1s ease-in;
}

.cal-slot .close-icon:hover {
  transform: scale(1.3);
}

.cal-slot:not(:first-child) {
  margin-top: 15px;
}

.list-table {
  overflow-x: scroll;
}

.list-table table{  
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.list-table table td {
  /* border-left: 1px solid #e3eaef; */
}

.list-table table td.empty {
  display: none;
}

.list-table table td:not(:first-child) {
  min-width: 195px;
}

.list-table table tr:last-child td {
  /* border-bottom: 1px solid #e3eaef; */
}
.list-table table {
  border-right: 1px solid #e3eaef;
  display: inline-block;
  width: fit-content;

       border-left: 1px solid #e3eaef;
}

.list-table table tr {
  border-top: 1px solid #e3eaef;
  display: block;
}

.list-table table tr:last-child {
  border-bottom: 1px solid #e3eaef;
}

.list-table table tr td:first-child {
  border-right: 1px solid #e3eaef;
}
.list-table table td:last-child {
/*   border-right: 1px solid #e3eaef; */
  
}

.copy-date-label {
  float: left;
}

.class_routine_content {
  overflow-x: auto;
}

.list-table .routine-gap {
  height: 100px;
  /* text-align: center; */
  vertical-align: middle;
}

.boot-body {
    word-wrap: break-word;
}